albumentations==1.1.0
efficientnet-pytorch==0.6.3
fvcore==0.1.3.post20210317
grad-cam==1.0.0
graphviz==0.16
imageio==2.9.0
imgaug==0.4.0
matplotlib==3.3.3
numpy==1.17.3
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
omegaconf==2.0.6
Pillow==6.2.2
plotly==4.14.3
prefetch-generator==1.0.1
pretrainedmodels==0.7.4
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
Shapely==1.7.1
timm==0.3.2
torchstat==0.0.7
torchsummary==1.5.1
tqdm==4.55.1
vision-transformer-pytorch==1.0.2
